/Infinity.Bnois.Api/obj
/Infinity.Bnois.Api/bin
/Infinity.Bnois.Api.Core/bin
/Infinity.Bnois.Api.Core/obj
/Infinity.Bnois.Api.Web/obj
/Infinity.Bnois.Api.Web/bin
/Infinity.Bnois.ApplicationService/obj
/Infinity.Bnois.ApplicationService/bin
/Infinity.Bnois.Configuration/bin
/Infinity.Bnois.Configuration/obj
/Infinity.Bnois.Data/bin
/Infinity.Bnois.Data/obj
/Infinity.Bnois.Data.Core/bin
/Infinity.Bnois.Data.Core/obj
/Infinity.Bnois.Shared/bin
/Infinity.Bnois.Shared/obj
/Infinity.Bnois.Web/bin
/Infinity.Bnois.Web/obj
/.vs
/Infinity.Bnois.Api.Web/log
/Infinity.Bnois.Report/bin
