<style>
    .helper {
        background: #000066;
    }

    .content {
        width: 100%;
    }

    .btn, .navbar .navbar-nav > a.btn {
        font-size: 1.1rem !important;
        line-height: 2.2rem !important;
    }

    .card-body {
        padding: 0px !important;
    }

    .form-control {
        font-size: 18px !important;
    }

    .customeTableHead {
        background-color: #0176D6;
        color: #ffffff;
    }

    .card label {
        font-size: 1.2rem !important;
        margin-bottom: 5px !important;
        color: white !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border: 2px solid #b5b8c7 !important;
        padding: 8px 4px !important;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }
    /*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px 4px !important;
    }*/
    .table {
        background-color: #eef4fa;
    }

    .card {
        background-color: transparent !important;
    }

    @media screen and (max-width: 1366px) and (min-width: 901px) {
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: 1.1rem !important;
        }
    }

    @media screen and (max-width: 575px) {
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: .9rem !important;
        }
    }

    .btn, .navbar .navbar-nav > a.btn {
        padding: 4px 10px !important;
    }

    .pagination li {
        padding: 7px 12px !important;
        color: white !important;
        border: 1px solid white !important;
    }

        .pagination li:hover, .active {
            background-color: #66ff99 !important;
            color: black !important;
            border-radius: 0px !important;
        }

            .pagination li:hover a {
                color: black !important;
            }

        .pagination li a {
            color: white !important;
            text-decoration: none !important;
        }

    .form-group input[type=file] {
        position: initial !important;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form name="vm.downloadForm">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2" style="color:white !important;">Please select a file</legend>
                                    <div>
                                        <div class="form-group">
                                            <input type="file" class="form-control custom-form-control" id="fileUrl" nv-file-select="" style="opacity:1; height:fit-content !important;" uploader="uploader" name="fileUrl" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 custom-col-height">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 custom-col-height">
                                        <div class="pull-left">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                        </div>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 custom-col-height " style="text-align:center">
                                <button type="button" class="btn custom-btn btn-info" ng-disabled="vm.isHide===true" ng-click="vm.dataMigration()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Start Migrations </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
