<style>
    .helper {
        background: #000066;
    }
    .card {
        margin: auto !important;
        font-size: 18px;
        width: 40%;
        padding: 10px;
        border-radius: 25px !important;
        padding: 0px !important;
        top: 30%;
        height: 40%;
        background-color: #ffffffe6 !important;
    }
    .carousel-item a img {
        max-width: 150px !important;
    }
    .card .card-body {
        padding: 10px 15px 0px 15px !important;
    }

    .card-title {
        color: #000066 !important;
        font-size: 30px;
        font-weight: 500;
    }

    address {
        padding-left: 5px;
    }
    .carousel-item {
        transition: transform 0.06s ease,-webkit-transform .06s ease !important;
    }
    .carousel-indicators {
        bottom: -103px !important;
    }
    @media screen and (max-width: 1366px) and (min-width: 901px) {

        .carousel-indicators {
            bottom: -80px !important;
        }
        .card-title {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 575px) {
        .carousel-indicators {
            bottom: -80px !important;
        }
        .card-title {
            font-size: 20px;
        }
        .card {
            width: 95%;
            top: 20%;
        }
    }

    @media screen and (max-width: 900px) and (min-width: 576px) {
        .carousel-indicators {
            bottom: -80px !important;
        }
        .card {
            width: 75%;
        }
    }

    .footer {
        padding: 0px !important;
    }

        .footer.content > img,
        .footer.content > address {
            display: inline-block;
        }

    .content {
        padding-left: 10px !important;
    }

        





    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
        transform: translateX(0);
    }
    .img-fluid{
        max-width: 150px !important;
    }
    .carousel-item{
        background-color:transparent !important;
    }
    .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    
        .carousel-indicators li {
            background-color: #609ed9 !important;
        }

    .menu ul li a:hover, .active {
        background-color: transparent !important;
    }
</style>
<div class="card">
    <div class="card-body" style="padding-bottom:75px!important;">
        <h5 class="card-title text-center" style="padding-bottom:15px!important;">Useful Links</h5>
        <div class="row mx-auto my-auto">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item item active">
                        <a href="https://bangladesh.gov.bd/index.php" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/bd.govt.png" />
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://afd.gov.bd" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/AFD.png">
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://www.navy.mil.bd/" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/2000px-বাংলাদেশ_নৌবাহিনীর_মনোগ্রাম.svg.png" />
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://www.army.mil.bd" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/ARMY.png">
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://baf.mil.bd" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/BAF.png">
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://dgdp.gov.bd" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/DGDP.png">
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="http://coastguard.gov.bd/" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/cost-gard.png">
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://www.rab.gov.bd" target="_blank">
                            <img  class="d-block col-3" src="../../../Images/Icons/Icons/bgb.png" />
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://www.police.gov.bd/" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/POLICE.png" />
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="http://www.ansarvdp.gov.bd/" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/ansarvdp.png" />
                        </a>
                    </div>
                    <div class="carousel-item item">
                        <a href="https://joinnavy.navy.mil.bd/" target="_blank">
                            <img class="d-block col-3" src="../../../Images/Icons/Icons/2000px-বাংলাদেশ_নৌবাহিনীর_মনোগ্রাম.svg.png" />
                        </a>
                    </div>

                </div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                </ol>
            </div>
        </div>

    </div>
</div>

<script>
    $('#myCarousel').carousel({
        interval: 2000
    })

    $('.carousel .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
        console.log("success");
    });
</script>
