<style>
    .helper {
        background: #000066;
    }

    .card {
        margin: auto !important;
        font-size: 23px;
        width: 40%;
        padding: 10px;
        border-radius: 25px !important;
        padding: 0px !important;
        top: 25%;
        background-color: #ffffffe6 !important;
    }

        .card .card-body {
            padding: 10px 15px 0px 15px !important;
        }

    .card-title {
        color: #000066 !important;
        font-size: 30px;
        font-weight: 500;
    }

    address {
        padding-left: 5px;
    }

    .card-body p {
        font-size: 25px !important;
    }

    @media screen and (max-width: 1366px) and (min-width: 901px) {
        .card {
            font-size: 18px;
        }

        .card-title {
            font-size: 20px;
        }

        .card-body p {
            font-size: 20px !important;
        }
    }

    @media screen and (max-width: 575px) {
        .card {
            font-size: 18px;
        }

        .card-title {
            font-size: 20px;
        }

        .card-body p {
            font-size: 20px !important;
        }

        .card {
            width: 95%;
            top: 20%;
        }
    }

    @media screen and (max-width: 900px) and (min-width: 576px) {
        .card {
            font-size: 18px;
        }

        .card-title {
            font-size: 20px;
        }

        .card-body p {
            font-size: 20px !important;
        }

        .card {
            width: 60%;
        }
    }

    img {
        width: 22px;
        margin: 5px 0px 0px 0px;
    }

    .footer {
        padding: 0px !important;
    }

        .footer.content > img,
        .footer.content > address {
            display: inline-block;
        }

    .content {
        padding-left: 10px !important;
    }

        .content img {
            width: 26px;
            margin: 0px 0px 0px 0px;
        }
    .form-group  p{
        font-size: 0.7rem !important;
        color: black !important;
    }
</style>

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">
            Change Password
        </h5>
        <form name="vm.accountInfoForm">
            <div class="form-group">
                <label for="oldPassword">Previous Password</label>
                <input type="password" id="oldPassword" class="form-control" ng-model="vm.accountInfo.oldPassword" placeholder="Enter your last password" name="oldPassword" ng-required="true">

                <p ng-show="vm.accountInfoForm.oldPassword.$touched && vm.accountInfoForm.oldPassword.$error.required" class="help-block errormsg">Previous password is required</p>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" class="form-control" name="newPassword" ng-model="vm.accountInfo.newPassword" placeholder="Enter your new password" ng-required="true" ng-maxlength="25" ng-minlength="8">
                <p ng-show="vm.accountInfoForm.newPassword.$touched && vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">New password is required</p>
                <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="vm.accountInfo.confirmPassword" placeholder="Re-enter your new password" ng-required="true" ng-maxlength="12" ng-minlength="8">
                <p ng-show="vm.accountInfoForm.confirmPassword.$touched && vm.accountInfoForm.confirmPassword.$error.required" class="help-block errormsg">Confirm password is required</p>
                <p ng-show="vm.accountInfoForm.confirmPassword.$error.maxLength" class="help-block errormsg">Maximum character 12</p>
                <p ng-show="vm.accountInfoForm.confirmPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
            </div>
            <div class="form-group">
                <!--<input type="checkbox" onclick="myFunction()">Show Password-->

                <input type="checkbox" ng-click="vm.showPass()">  <label for="confirmPassword">Show Password</label>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="submit" class="btn btn-primary mb-2" style="color:black !important; background-color:#66ccff !important" data-dismiss="modal" ng-disabled="vm.accountInfoForm.$invalid" ng-click="vm.PasswordChange(vm.accountInfo)">Change</button>
            </div>
        </form>
    </div>
</div>


<!--<div style="padding-right: 15px;padding-left: 15px;padding-top: 72px;">
    <div class="card card-user">
        <div class="card-header">
            <h5 class="card-title">Change Password</h5>
        </div>
        <div class="card-body">
            <form name="accountInfoForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="oldPassword" class="custom-label">Previous Password</label>
                            <input type="password" id="oldPassword" class="form-control" ng-model="vm.accountInfo.oldPassword" placeholder="Enter your last password" required>
                            <p ng-show="vm.accountInfoForm.oldPassword.$error.required" class="help-block errormsg">Previous Password Is Required</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="newPassword" class="custom-label">New Password</label>
                            <input type="password" id="newPassword" class="form-control" ng-model="vm.accountInfo.newPassword" placeholder="Enter your new password" required ng-maxlength="25" ng-minlength="8">
                            <p ng-show="vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">New Password Is Required</p>
                            <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                            <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="confirmPassword" class="custom-label">Confirm Password</label>
                        <input type="password" id="confirmPassword" class="form-control" ng-model="vm.accountInfo.confirmPassword" placeholder="Re-enter your new password" required ng-maxlength="25" ng-minlength="8">
                        <p ng-show="vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">Confirm Password Is Required</p>
                        <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                        <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-warning" ng-disabled="vm.accountInfoForm.$invalid" ng-click="vm.changePassword(vm.accountInfo)">Change</button>


                </div>
                <div class="alert alert-success" role="alert" ng-if="vm.updateStatus==1">
                    Password change successfully.........................
                </div>
                <div class="alert alert-danger" role="alert" ng-if="vm.updateStatus == 0 && vm.updateStatus != ''">
                    Something went wrong......Please provide valid information.
                </div>
            </form>
        </div>
    </div>
</div>-->




<!--<div style="padding-right: 15px;padding-left: 15px;padding-top: 72px;">

    <form name="accountInfoForm">
        <div class="modal-body">

            <div class="form-group">
                <label for="oldPassword" class="custom-label">Previous Password</label>
                <input type="password" id="oldPassword" class="form-control" ng-model="vm.accountInfo.oldPassword" required>
                <p ng-show="vm.accountInfoForm.oldPassword.$error.required" class="help-block errormsg">Previous Password Is Required</p>
            </div>


            <div class="form-group">
                <label for="newPassword" class="custom-label">New Password</label>
                <input type="password" id="newPassword" class="form-control" ng-model="vm.accountInfo.newPassword" required ng-maxlength="25" ng-minlength="8">
                <p ng-show="vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">New Password Is Required</p>
                <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="custom-label">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" ng-model="vm.accountInfo.confirmPassword" required ng-maxlength="25" ng-minlength="8">
                <p ng-show="vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">Confirm Password Is Required</p>
                <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success pull-left" data-dismiss="modal" ng-disabled="vm.accountInfoForm.$invalid" ng-click="vm.changePassword(vm.accountInfo)">Change</button>
        </div>
    </form>
</div>-->
