<?xml version="1.0"?>
<connectionStrings>


	<!-- ~1~OFFICE PC @1@ -->
	<!--<add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B3ATLSB;initial catalog=Bnoisdb;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
     <add name="InfinityIConfigurationEntities" connectionString="data source=DESKTOP-B3ATLSB;initial catalog=Bnoisdb;user id=sa;password=123456;integrated security=false;" providerName="System.Data.EntityClient" /> 
     <add name="InfinityIdentityEntities" connectionString="data source=DESKTOP-B3ATLSB;initial catalog=Bnoisdb;user id=sa;password=123456;integrated security=false;" providerName="System.Data.EntityClient" />-->

	<!--development server -->
	<add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.134.95.235\Navy;initial catalog=Bnoipdb;user id=sa;password=B@ngl@d3sh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="InfinityIConfigurationEntities" connectionString="data source=114.134.95.235\Navy;initial catalog=Bnoipdb;user id=sa;password=B@ngl@d3sh;integrated security=false;" providerName="System.Data.EntityClient" />
	<add name="InfinityIdentityEntities" connectionString="data source=114.134.95.235\Navy;initial catalog=Bnoipdb;user id=sa;password=B@ngl@d3sh;integrated security=false;" providerName="System.Data.EntityClient" />

	<!--development server -->
	<!--
   <add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3PTJC37\SQLEXPRESS;initial catalog=BnoipDb;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="InfinityIConfigurationEntities" connectionString="data source=DESKTOP-3PTJC37\SQLEXPRESS;initial catalog=Bnoipdb;user id=sa;password=123;integrated security=false;" providerName="System.Data.EntityClient" />
 	<add name="InfinityIdentityEntities" connectionString="data source=DESKTOP-3PTJC37\SQLEXPRESS;initial catalog=BnoipDb;user id=sa;password=123;integrated security=false;" providerName="System.Data.EntityClient" /> 
 -->
	<!--Navy Server PC-->
	<!-- Don't remove this code please. -->
	<!--<add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-R0AIGJ5FTNN;initial catalog=BnoipDb;user id=repuser;password=B@ngl@d3sh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="InfinityIConfigurationEntities" connectionString="data source=WIN-R0AIGJ5FTNN;initial catalog=BnoipDb;user id=repuser;password=B@ngl@d3sh;integrated security=false;" providerName="System.Data.EntityClient" />
  <add name="InfinityIdentityEntities" connectionString="data source=WIN-R0AIGJ5FTNN;initial catalog=BnoipDb;user id=repuser;password=B@ngl@d3sh;integrated security=false;" providerName="System.Data.EntityClient" />-->

</connectionStrings>
