<style>
    .helper {
        background: #000066;
    }

    .content {
        width: 100%;
    }

    .card-body {
        padding: 0px !important;
    }

    .customeTableHead {
        background-color: #0176D6;
        color: #ffffff;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border: 2px solid #b5b8c7 !important;
        padding: 8px 4px !important;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }
    /*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px 4px !important;
    }*/
    .table {
        background-color: #eef4fa;
    }

    .card {
        background-color: transparent !important;
    }

    @media screen and (max-width: 1366px) and (min-width: 901px) {
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: 1.1rem !important;
        }
    }

    @media screen and (max-width: 575px) {
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: .9rem !important;
        }
    }

    .btn, .navbar .navbar-nav > a.btn {
        padding: 4px 10px !important;
    }

    #paging .pagination li {
        padding: 7px 12px !important;
        color: white !important;
        border: 1px solid white !important;
    }

        #paging .pagination li:hover, .active {
            background-color: #66ff99 !important;
            color: black !important;
            border-radius: 0px !important;
        }

            #paging .pagination li:hover a {
                color: black !important;
            }

        #paging .pagination li a {
            color: white !important;
            text-decoration: none !important;
        }

    .icon-dashboard .menu ul li a:hover, .active {
        border-radius: 10px !important;
    }

    .btn, .navbar .navbar-nav > a.btn {
        margin: 0px 1px !important;
        padding: 11px 22px !important;
    }
</style>
<div class="content courseAttendeds">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!--<pre>{{vm.users | json}}</pre>-->
                <div class="card-body">
                    <div>
                        <div class="pull-left">
                            <a class="btn custom-btn btn-edit btn-info btn-xs" ng-click="vm.saveUser()">Create Users</a>
                        </div>
                        <div class="pull-right">
                            <div ng-include="'app/templates/search.html'" class="search-wrapper"></div>
                        </div>
                    </div>
                    <!--<div class="form-group pull-left">
                        <a class="btn custom-btn btn-edit btn-info btn-xs" ng-click="vm.saveUser()">add</a>
                    </div>
                    <div class="form-group" style="text-align:right">
                        <a class="btn custom-btn btn-edit btn-info btn-xs" ng-click="vm.saveUser()">add</a>
                        
                    </div>-->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="customeTableHead">
                                <tr>
                                    <th>
                                        <input type="checkbox" name="" ng-model="vm.selectAll" id="checkbox" ng-click="vm.selectDeselectAll()" /> Select
                                        <!--<input type="checkbox" ng-model="vm.users">-->
                                        <!--<input type="checkbox" value="None" id="checkbox" ng-click="vm.allSelect()"/>-->
                                        <!--<button ng-click="selectAll()"> all</button>-->
                                    </th>
                                    <th style="width:5%; text-align:center;">
                                        Ser
                                    </th>
                                    <th style="width:10%; text-align:center;">
                                        P No
                                    </th>
                                    <th style="width:20%; text-align:center;">
                                        First Name
                                    </th>
                                    <th style="width:25%; text-align:center;">
                                        Last Name
                                    </th>
                                    <th style="width:20%; text-align:center;">
                                        Email Address
                                    </th>
                                    <th style="width:20%; text-align:center;">
                                        Contact No
                                    </th>
                                    <!--<th style="width:20%; text-align:center;">
                        Action
                    </th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="CA in vm.users">
                                    <td>
                                        <input type="checkbox" name="" ng-checked="vm.exist(CA)" ng-click="vm.toggleSelection(CA)" />
                                        <!--<input id="checkFollower" type="checkbox" ng-checked="vm.users" value={{CA}} ng-model="vm.users" aria-label="Follower input">-->
                                        <!--<input type="checkbox" ng-model="vm.CA.checked">-->
                                    </td>
                                    <td style="text-align:center;">

                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{CA.pNo}}
                                    </td>
                                    <td>
                                        {{CA.firstName}}
                                    </td>
                                    <td>
                                        {{CA.lastName}}
                                    </td>
                                    <td>
                                        {{CA.email}}
                                    </td>
                                    <td>
                                        {{CA.phoneNumber}}
                                    </td>
                                    <!--<td class="text-center">
                        <a class="btn custom-btn btn-edit custom-btn-primary btn-xs" title="Update user information" ng-click="vm.updateDownload(CA)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="vm.users.length > 0" id="paging">
                            <ul uib-pagination items-per-page="vm.pageSize" style="float:right !important;border-radius: 0px !important;" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>