<style>
    .helper {
        background: #000066;
    }
    .card-body {
        padding: 0px !important;
    }

    .customeTableHead {
        background-color: #0176D6;
        color: #ffffff;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border: 2px solid #b5b8c7 !important;
        padding: 8px 4px !important;
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }

    .table {
        background-color: #eef4fa;
    }

    .card {
        background-color: transparent !important;
    }
    @media screen and (max-width: 575px) {
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: 1em !important;
        }
    }
    @media screen and (max-width: 1366px) and (min-width: 901px) {
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: 1.1rem !important;
        }
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!--<pre>{{vm.oprGradings | json}}</pre>-->
                <div class="card-body" ng-if="vm.oprGradings.length>0">
                    <div class="table-responsive">
                        <table class="table w-100">
                            <thead class="customeTableHead">
                                <tr>
                                    <th style="width: 5%; text-align:center">
                                        Ser
                                    </th>
                                    <th style="width: 15%; text-align:center">
                                        Year
                                    </th>
                                    <th style="width: 30%; text-align:center">
                                        Occasion
                                    </th>
                                    <th style="width: 50%; text-align:center">
                                        Unit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="OPR in vm.oprGradings">
                                    <td style="text-align:center">
                                        {{$index+1}}
                                    </td>
                                    <td style="text-align:center">
                                        {{OPR.year}}
                                    </td>
                                    <td>
                                        {{OPR.occasion}}
                                    </td>
                                    <td>
                                        <span ng-if="OPR.unit !=null">{{OPR.unit}}</span><span ng-if="OPR.unit ==null">-</span>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" ng-if="vm.intialHide === true">
                    No data found..........!
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="content OPRrd">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body" ng-if="vm.oprGradings.length>0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="customeTableHead">
                                <tr>
                                    <th>
                                        Ser
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th>
                                        Occasion
                                    </th>
                                    <th>
                                        Unit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="OPR in vm.oprGradings">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{OPR.year}}
                                    </td>
                                    <td>
                                        {{OPR.occasion}}
                                    </td>
                                    <td>
                                        <span ng-if="OPR.unit !=null">{{OPR.unit}}</span><span ng-if="OPR.unit ==null">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" ng-if="vm.oprGradings.length==0">
                    No data found..........!
                </div>
            </div>
        </div>
    </div>
</div>-->